{
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "script"
  },
  "extends": [
    "standard",
    "prettier"
  ],
  "ignorePatterns": ["tests"],
  "rules": {
    "spaced-comment": 0,
    "n/no-path-concat": 0,
    "one-var": [
      1,
      {
        "const": "always"
      }
    ],
    "comma-style": [
      2,
      "first",
      {
        "exceptions": {
          "ArrayExpression": true,
          "ArrayPattern": true,
          "ArrowFunctionExpression": true,
          "CallExpression": true,
          "FunctionDeclaration": true,
          "FunctionExpression": true,
          "ImportDeclaration": true,
          "ObjectExpression": true,
          "ObjectPattern": true,
          "NewExpression": true
        }
      }
    ]
  }
}